.products {
    margin-left: 15px;
    margin-bottom: 0;
}

.text {
    color: #737070;
    word-wrap: break-word;
}

.products li {
    color: #fff;
    cursor: pointer;
    background-color: #337ab7;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    border-radius: 5px;
    text-transform: capitalize;
    margin-bottom: 2px;
}

.products li:hover {
    background-color: #286090;
}

.selected {
    background-color: #286090 !important;
}

.go-back {
    font-size: 12px;
    margin: 15px 0 0 10px;
    line-height: 10px;
}