<div class="product-comments col-xs-6">
	<form class="commentForm" #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)" novalidate>
		<div class="stars">
			<input class="star star-5" id="star-5" type="radio" name="star" value="5" [(ngModel)]="commentData.rate" required/>
			<label class="star star-5" for="star-5"></label>
			<input class="star star-4" id="star-4" type="radio" name="star" value="4" [(ngModel)]="commentData.rate"/>
			<label class="star star-4" for="star-4"></label>
			<input class="star star-3" id="star-3" type="radio" name="star" value="3" [(ngModel)]="commentData.rate"/>
			<label class="star star-3" for="star-3"></label>
			<input class="star star-2" id="star-2" type="radio" name="star" value="2" [(ngModel)]="commentData.rate"/>
			<label class="star star-2" for="star-2"></label>
			<input class="star star-1" id="star-1" type="radio" name="star" value="1" [(ngModel)]="commentData.rate"/>
			<label class="star star-1" for="star-1"></label>
		</div>
		<textarea class="form-control" name="comment" rows="3" [(ngModel)]="commentData.text" required></textarea>
		<p class="error" *ngIf="validateError">Select rating star and leave Your comment.</p>
		<p class="error" *ngIf="authError">You should sign in first. <a (click)="toAuth()">To Auth page</a></p>
		<button type="submit" class="btn btn-primary">Send</button>
	</form>
	<h3 class="text">Comments</h3>
	<ul class="list-unstyled">
		<li *ngFor="let comment of comments">
			<div>
				<p>Comment: {{ comment.text }}</p>
				<p>Rate: {{ comment.rate }}</p>
				<p>Created by: {{ comment.created_by.username }} at {{ comment.created_at | date: 'fullDate' }}</p>
			</div>
		</li>
	</ul>
</div>